<ion-header>
  <ion-toolbar>
    <ion-title>
      Reportar conductor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="reportar(form)" method="post">
  
    <ion-item>
      
      <ion-label position="floating">Seleccione el conductor</ion-label>
      
      <ion-select ngModel="conductor_id" name="conductor_id" multiple="false" required >
        <ion-select-option *ngFor="let conductor of conductores" value="{{conductor.conductor_id}}">
          {{conductor.ci}} {{conductor.nombres}}
        </ion-select-option>
      </ion-select>
      <!--<ion-input ngModel name="city"></ion-input>-->
    </ion-item>
  
    <ion-button type="submit" expand="full" color="primary" >Reportar</ion-button>
  </form>
</ion-content>