<ion-header no-border>
  <ion-toolbar>
    <!--<ion-title text-capitalize>{{ nombre }} -- {{ pais }}</ion-title>-->
    <ion-button (click)="refresh()" color="primary" expand="full">
    Actualizar
    </ion-button>
  </ion-toolbar>
</ion-header>

<div *ngIf="!conductores">
  <div class="d-flex justify-content-center" style="position:fixed;top:50%;left:50%">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Cargando Listado...</span>
    </div>
  </div>
</div>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div>
          Nombre completo
        </div>
      </ion-col>
      <ion-col>
        <div>
          Carnet de identidad
        </div>
      </ion-col>
      <ion-col>
        <div>
          Ruta
        </div>
      </ion-col>
      <ion-col>
        <div>
          Siguiente Punto de control
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngFor="let conductor of conductores">
      <ion-col>
        <div>
          <a [routerLink]="" (click)="abrirModal(conductor.conductor_id)"><strong>{{conductor.nombres}} {{conductor.ap_paterno}} {{conductor.ap_materno}}</strong></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{conductor.ci}}
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div *ngFor="let ruta of rutas">
                        <div *ngIf="conductor.ruta_id==ruta.ruta_id">

                            <strong>{{ruta.nombre}}</strong>
                        </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div>
          {{conductor.next_punto_control}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
