<ion-header>
  <ion-toolbar>
    <!--<ion-button color="light" >Close</ion-button>-->
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input ngModel name="first_name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input ngModel name="last_name"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label position="floating">Carnet de Identidad</ion-label>
      <ion-input type="number" ngModel name="dni"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-select ngModel="city" name="city" multiple="false" required >
        <ion-select-option value="LA_PAZ">
          La Paz
        </ion-select-option>
      <ion-select-option value="COCHABAMBA">
          Cochabamba
        </ion-select-option>
        <ion-select-option value="SANTA_CRUZ">
          Santa Cruz
        </ion-select-option>
        <ion-select-option value="POTOSO">
          Potosi
        </ion-select-option>
        <ion-select-option value="ORURO">
          Oruro
        </ion-select-option>
        <ion-select-option value="TARIJA">
          Tarija
        </ion-select-option>
        <ion-select-option value="PANDO">
          Pando
        </ion-select-option>
        <ion-select-option value="BENI">
          Beni
        </ion-select-option>
        <ion-select-option value="SUCRE">
          Sucre
        </ion-select-option>
      </ion-select>
      <!--<ion-input ngModel name="city"></ion-input>-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Género</ion-label>
      
      <ion-select ngModel="gender" name="gender" multiple="false" required >
        <ion-select-option value="M">
          Masculino
        </ion-select-option>
      <ion-select-option value="F">
          Femenino
        </ion-select-option>
        <ion-select-option value="O">
          Otro
        </ion-select-option>
      </ion-select>

      <!--<ion-input ngModel name="gender"></ion-input>-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de nacimiento</ion-label>
    
      <ion-datetime ngModel name="birthDate" placeholder="Seleccione una Fecha"></ion-datetime>
    
      <!--<ion-input type="date" ngModel name="birthDate"></ion-input>-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar contraseña</ion-label>
      <ion-input type="password" ngModel name="password2"></ion-input>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger" (click)="irRegister()">Register</ion-button>
  </form>
  <p text-center>Already have a account?</p>
  <ion-button expand="full" color="primary" (click)="irLogin()">Login</ion-button>
</ion-content>