<ion-content>

  <ion-slides pager="true">

    <ion-slide *ngFor="let slide of slides">
      <div><h1>{{slide.img}}</h1></div>
      <div><h4 [innerHTML]="slide.titulo"></h4></div>
    </ion-slide>
    
  </ion-slides>

</ion-content>

<ion-footer>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">

        <ion-button color="secondary"
                    expand="full"
                    shape="round"
                    mode="ios"
                    class="btn-primary"
                    (click)="irTabs()">
          Ejecutar SAHRST
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>